/* *{
    padding: 0;
    margin: 0;
} */

/* External */
/* p{
    color: green;
} */

/* Element Seletors */
body{
    /* color: rgb(18, 32, 231); */
    /* color: white; */
    color: rgb(168, 202, 157);
    /* background-color: rgb(43, 39, 39); */
    background-color: rgb(0, 0, 0);
    /* border: solid 10px lightgrey; */
    margin: 10px;

    /* background: url("../images/sky-space-milky-way-stars-1108542.jpg") repeat; */
    /* background: url("../images/sky-space-milky-way-stars-1108542.jpg") no-repeat; */
    /* background-size: cover; */
}
header{
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    /* background-color: black;
    height: 10%; */

    /* background-color: rgba(141, 103, 0, 0.8); */

    /* position: fixed; */
    /* top: 50px; */
    /* left: 50px; */

    /* top: 0; */
    /* left: 15%; */
    /* width: 50%; */
    /* border: solid; */
    
    /* text-align: center; */
    z-index: 1;
}
#container {
    margin-top: 100px;
    width: 80%;
    margin-left: 10%;
    background-color: skyblue;
    padding: 0px 10px 0px 10px;
    box-shadow: 0 5px 20px red, 0 10px 30px blue, 0 5px 200px #222222;
    /* background: linear-gradient(rgb(29, 29, 160), rgb(201, 110, 110)); */
    background: linear-gradient( rgba(6, 6, 46, 0.562), rgb(27, 184, 13));
    /* background: linear-gradient( rgb(6, 6, 46), rgb(27, 184, 13)); */
}
section{
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px 30px;
    margin-top: 20px;
    border-bottom: solid;
    overflow: auto;

}
article{
    text-align: justify;
    font-size: 1.5rem;
    line-height: 2.25rem;
}
/* article p {
    border: solid yellow;
} */
.title{
    font-size: 23px;
    font-weight: bold;
}
.date{
    text-transform: uppercase;
    font-size: 15px;
    font-style: italic;
}
/* Nav List style */
nav ul{
    padding: 0;
    margin: 0;
    /* background-color: rgba(141, 103, 0, 0.8); */
    text-align: center;
    margin-top: 20px;
}
nav > ul > li{
    display: inline-block;
    /* padding: 10px 3px; */
    font-size: 20px;
    /* border: solid; */
    /* background-color: rgba(141, 103, 0, 0.8); */
    /* background-color: rgba(7, 10, 180, 0.836); */
    /* background-color: rgb(5, 46, 8); */
    background: linear-gradient(green, blue);
    /* background-color: rgba(141, 103, 0, 0.6);; */
    padding: 0 5px;
    border-radius: 20%;
}
/* Link Style */
nav ul li a{
    text-decoration: none;
    /* border: solid; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 28px;
    display: block;
    width: 100px;
    text-align: center;
    padding: 10px 0px;
    /* background-color: rgba(141, 103, 0, 0.6); */
    /* background-color: rgb(0, 0, 0); */
    background: linear-gradient(rgb(10, 82, 10), rgb(21, 21, 167));
    border-radius: 30%;
    /* color: rgba(7, 10, 180, 0.836); */
    color: rgb(168, 202, 157);
    /* color: rgba(141, 103, 0, 0.6);; */
}
nav ul li a:hover{
    /* background-color: rgb(148, 109, 3); */
    color: rgb(255, 255, 255);
    /* text-shadow: 0 0 70px rgb(4, 14, 49); */
    text-shadow: 0px 0px 10px rgb(221, 55, 55);
    background-color: black; /* ? Why's it Not Working?*/
}
#active {
    background: linear-gradient( rgb(6, 6, 46), rgb(27, 184, 13));
    color: rgb(253, 253, 253);
}
.mw {
    width: 135px;
}
/* First Part/Section */



#cr {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    float: left;
    margin: 0px 15px 0px 3px; 
    /* box-shadow: 2px 2px 5px green; */

}
#clear{
    clear: left;
}
/* a {
    clear: left;
} */
/* h3 {
    clear: left;
}
hr {
    clear: left;
} */


footer{
    border-bottom: solid;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    padding: 0px 10px;
}

#contact {
    position: relative;
}
#frm {
    margin-bottom: 40px;
}
#map {
    position: absolute;
    left: 40%;
    top: 0;
    border:0;
    margin-left: 5px;
}
input[type="submit"] {
    width: 100%;
    height: 30px;
}

/* Previous Version/Question Response */
/* #gallarysec img { */
    /* display: inline-block; */
    /* padding-left: 1.67%;
    padding-right: 1.66%;
    padding-top: 5px;
    padding-bottom: 15px; 
    float: left;
    width: 30%;
} */

/* Using Flex Box Layout */
#gallarysec {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#gallarysec img {
    flex: 1;
    width: 30%;
    margin: 5px;
}

@media all and (max-width: 1024px){
    #gallarysec img {
        width: 45%;
    }
}
@media all and (max-width: 450px){
    #gallarysec img {
        width: 100%;
    }
}

span {
    font-weight: bold;
}