.country {
    width: 260px;
    height: 160px;
    border: solid;
    margin: 10px;
    float: left;
}





















/* body {
    margin:20px 5px;
    padding: 5px;
    width: 100%;
}

div {
    position: relative;
    text-align: center;
}

img {
    margin: 10px;
    padding: 5px;
    border: solid 3px rgb(0, 255, 21);
} */

/* .rl {
    position: relative;
    top: 360px;
    border: solid 3px red;
} */

/* .abs {
    position: absolute;
    border: solid 1px rgb(11, 39, 163);
    top: px;

} */